<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="../static/css/stylesMain.css" rel="stylesheet" type="text/css">
<title></title>
</head>
<body>

<header>
    <div id="about">
        <a href="index.html" title="index-2.html" >Главная</a>
      </div>
</header>

<div class="container mt-5">
    <h2 class ="mb-5 text-center">Выбор столовой</h2>
    <div class = "card-deck">

        <div class="card cardSet1 text-white">
                <div class="card-body" >
    <img src="../static/images/1.jpg" class="img-fluid" alt="Столовая 2">
    <h3 class="card-title mt-2">
        Столовая 1
        </h3>
        <h5 class="card-body">
            Время работы: 10.00-17.00
        </h5>
        <a href="canteenPage.html" class="btn btn-dark float-right">Меню</a>
        </div>
    </div>

        <div class="card cardSet2 text-white">
                <div class="card-body">
    <img src="../static/images/2.jpg" class="img-fluid" alt="Столовая 2">
    <h3 class="card-title mt-2">
        Столовая 2
        </h3>
        <h5 class="card-body">
                Время работы: 10.00-17.00
            </h5>
            <a href="canteenPage.html" class="btn btn-dark float-right">Меню</a>
        </div>
    </div>

    <div class="card cardSet3 text-white">
            <div class="card-body">
<img src="../static/images/3.jpg" class="img-fluid" alt="Столовая 3">
<h3 class="card-title mt-2">
    Столовая 3
    </h3>
    <h5 class="card-body">
            Время работы: 10.00-17.00
        </h5>
        <a href="canteenPage.html" class="btn btn-dark float-right">Меню</a>
</div>
    </div>


</div>
</div>


<footer>
    <div id="about">
        <a href="Index.html" title="index-2.html" ></a>
      </div>
</footer>
	

<!-- jQuery --> 
<script src="../static/js/jquery-3.2.1.slim.min.js"></script> 
<script src="../static/js/tether.min.js"></script> 
<script src="../static/js/bootstrap.min.js"></script>

</body>
</html>
